*{
    margin: 0;
    padding: 0;
}

html {
    font-family: 'Lato', sans-serif;
    /* font-size:24px; */
    /* color:#313d38; */
    box-sizing: border-box;
    margin:0;
}

nav {
    margin: 0;
    background-color: #272727;
    min-height: 40px;
}

li .nav-link  {
    color: #ffffff;
}

/* .container {
    max-width: 960px;
    margin:0 auto;
    line-height: 1.7;
} */

/* store.php */


.bar {
    width: 100%;
    margin: 0;
    background-color: rgb(32, 32, 32);
}



.store-img {
    justify-self: center;
}

.store-card {
    padding: 60px;
}

.store h1 {
    font-family: 'Lobster', cursive;
    text-align: center;
    padding: 20px;
}

.flex-grid-mobile {
    display: none;
    max-width: 960px;
    margin:0 auto;
    text-align: center;
    overflow-wrap: normal;
}

.buyBtn {
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 10px 0;
    cursor: pointer;
    background-color: #777777;
    border-radius: 15px ;
    border: #272727 1px solid;
    color: #fff;
}

.col {
    flex: 1;
}

.flex-grid-mobile img {
    height: 200px;
}
/* store.php */

/* footer.php */
footer {
    text-align: center;
    margin: 0px;
    background-color: #777777;
    padding: 10px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 0;
}

.socials i {
    margin: 0 1rem;
}


footer h6 {
    color: #ffffff;
    /* font-weight: bold; */
}

footer p {
    font-size: x-small;
    color: #ffffff;
    margin-bottom: 8px;
}
/* footer.php */

form {
    text-align: center;
}

input {
    margin-bottom: 20px;
}

.clientMenu {
    padding-left:10px;
    position: relative;
    display: block;
    float: left;
}

.staffMenu {
    padding-right:10px;
    position: relative;
    display: block;
    float: right;
}



/* index.php */
.background {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    min-width: 1000px;
    z-index:-10;
    zoom: 1;
    background-color: #fff;
    background: url(../images/index_background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}

.title {
    padding: 250px 0;
}

.title h1{
    font-size: 80px;
    font-family: 'Lobster', cursive;
    color: #ffffff;
    font-weight: bold;
    padding: 0;
}

.title p{
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
    padding: 0;
}
/* index.php */


/* login.php */
.login {
    padding: 50px 0;
}

.loginL {
    padding: 0;
}

.loginR {
    padding: 0;
}

.loginR img {
   height: 450px;
   width: 100%;
   background-size: cover;
   object-fit: cover;
}

.login h1 {
    font-family: 'Lobster', cursive;
    margin-bottom: 20px;
}

#btn {
    background-color: #777777;
    border-radius: 15px ;
    border: #272727 1px solid;
    color: #fff;
}
/* login.php */


/* order.php */
.order {
    padding: 50px 0;
}
.orderL img {
    height: 450px;
    width: 100%;
    background-size: cover;
    object-fit: cover;
}

.orderL {
    padding: 0;
}

.orderR {
    padding: 60px;
}

.orderR h1 {
    font-family: 'Lobster', cursive;
}

/* order.php */

/* about.php */
.about h1 {
    font-family: 'Lobster', cursive;
    margin: 20px 0;
}

.aboutP {
    padding: 20px 0;
    margin: 0;
}

.aboutImg img {
    height: 450px;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    padding: 0;
} 
/* about.php */

/* order-completed.php */
.orderCom {
    padding: 250px 400px 250px 100px;
}

.orderBackground {
    background: url("../images/orderBackground.jpg");
    width: 100%;
    height: 600px;
    background-size: cover;
}
/* order-completed.php */

/* allOrders.php */

.allOrder {
    text-align: center;
}
.allOrder h1{
    padding: 20px;
    font-family: 'Lobster', cursive;
}
.allOrder-card {
    padding: 20px ;
    text-align: center;
    margin: 20px 0;
    border: #272727 1px solid;
}
.allOrder-card row{
    padding: 0;
}
/* allOrders.php */

/* Responsive layout - makes a one column-layout instead of a two-column layout */
@media (max-width: 960px) {
    .flex-grid-mobile {
        display: block;
        text-align: center;
      }

    .bar,
    .store {
        display: none;
    }
}